@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/quiz-bg.jpg") no-repeat center center fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.login-container {
  width: 500px;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.login-header .logo {
  margin-top: -30px;
  width: 120px;
}

.login-title {
  font-family: "Poppins", sans-serif !important;
  color: #333 !important;
  margin: 0 !important;
  font-size: 24px !important;
}

.login-subtitle {
  font-family: "Poppins", sans-serif !important;
  color: #777 !important;
  margin-top: 5px !important;
  font-size: 14px !important;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.login-input {
  width: 100%;
  padding: 15px 15px 15px 40px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
  box-sizing: border-box; /* Add this to include padding in width calculation */
}

.login-input:focus {
  outline: none;
  border-color: #6a11cb;
  box-shadow: 0 0 10px rgba(106, 17, 203, 0.2);
}

.password-toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

.login-button {
  width: 100%;
  padding: 15px;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1);
}

.form-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-links a {
  color: #6a11cb;
  text-decoration: none;
  font-size: 14px;
}

.form-links a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 480px) {
  .login-container {
    width: 90%;
    padding: 30px 20px;
  }
  body{
    background-size: cover;
  }
}
